<md-sidenav layout-fill
  class="md-sidenav-left main-sidenav"
  md-component-id="left"
  md-is-locked-open="$mdMedia('gt-sm')"
  md-whiteframe="4">

  <md-content layout-padding>
    <md-list>
      <md-list-item ui-sref="main">
        <md-icon>home</md-icon>
        <p>Visão Geral</p>
      </md-list-item>
      <md-list-item ui-sref="settings">
        <md-icon>settings</md-icon>
        <p>Configurações</p>
      </md-list-item>
      <md-list-item href="sdfasdfs">
        <md-icon>people</md-icon>
        <p>Usuários</p>
      </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
