<md-toolbar class="md-whiteframe-3dp">

  <div class="md-toolbar-tools">

    <md-button class="md-icon-button" aria-label="Menu Lateral" hide-gt-sm="gt-sm" ng-click="vm.toggleSidenavLeft()">
      <md-icon>menu</md-icon>
    </md-button>

    <img class="logo" src="assets/images/pti.png"> <h2 flex md-truncate>LASSE</h2>

    <md-button class="doc-button" aria-label="Ir para documentação">
      Ir para documentação
    </md-button>

    <md-button class="md-icon-button" aria-label="Mais opções">
      <md-icon>more_vert</md-icon>
    </md-button>

    <md-menu>
      <md-button class="md-icon-button user-avatar" ng-click="$mdMenu.open()" aria-label="Informações Pessoais">
        <img ng-src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=50" alt="Minha Foto" />
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <span class="user-avatar">
            <img ng-src="http://www.gravatar.com/avatar/00000000000000000000000000000000?s=50" alt="Minha Foto" />
          </span>
          <div>
            <span>{{vm.user.name}}</span>
            <br/>
            <span>{{vm.user.email}}</span>
          </div>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button aria-label="Logout">Sair</md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

  </div>
</md-toolbar>
