<app-feature-bar ng-if="!vm.user.id" title="Novo usuário" subtitle="Configurações" sref-back="settings.users_list"></app-feature-bar>
<app-feature-bar ng-if="vm.user.id" title="Editar usuário" subtitle="Configurações" sref-back="settings.users_view({id: {{vm.user.id}}})"></app-feature-bar>

<div class="md-padding">
  <md-card>
    <md-card-content>
      <form name="userForm" ng-submit="vm.saveUser()" novalidate>

        <md-input-container class="md-block">
          <label>Nome</label>
          <input md-maxlength="80" required name="name" ng-model="vm.user.name">
          <div ng-messages="userForm.name.$error">
            <div ng-message="required">Campo obrigatório.</div>
            <div ng-message="md-maxlength">O nome deve possuir no máximo 80 caracteres.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>E-mail</label>
          <input required type="email" name="email" ng-model="vm.user.email"
                 minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

          <div ng-messages="user.email.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
              O email de conter entre 10 e 100 caracteres e deve estar no formato de e-mail.
            </div>
          </div>
        </md-input-container>
        <div layout="row">
          <span flex></span>
          <md-button type="submit" class="md-raised md-accent" aria-label="Salvar Usuário">
            Salvar Usuário
          </md-button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>
